@charset "UTF-8";
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
/* line 6, ../scss/typo.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
/* line 27, ../scss/typo.scss */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

/* line 31, ../scss/typo.scss */
body {
  line-height: 1;
}

/* line 34, ../scss/typo.scss */
ol, ul {
  list-style: none;
}

/* line 37, ../scss/typo.scss */
blockquote, q {
  quotes: none;
}

/* line 40, ../scss/typo.scss */
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

/* line 45, ../scss/typo.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 50, ../scss/typo.scss */
body {
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  color: black;
  margin: 8px;
}

/* Texte */
/* line 58, ../scss/typo.scss */
h1 {
  font-size: 2em;
}

/* line 59, ../scss/typo.scss */
h2 {
  font-size: 1.5em;
}

/* line 60, ../scss/typo.scss */
h3 {
  font-size: 1.17em;
}

/* line 61, ../scss/typo.scss */
h5 {
  font-size: .83em;
}

/* line 62, ../scss/typo.scss */
h6 {
  font-size: .75em;
}

/* line 64, ../scss/typo.scss */
th {
  font-weight: bolder;
  text-align: center;
}

/* line 66, ../scss/typo.scss */
small {
  font-size: .83em;
  color: grey;
}

/* line 71, ../scss/typo.scss */
.sub {
  font-size: .83em;
  color: grey;
}

/* line 76, ../scss/typo.scss */
p {
  margin-bottom: 1em;
}

/* line 80, ../scss/typo.scss */
mark {
  background-color: yellow;
  color: #000;
}

/* line 85, ../scss/typo.scss */
del {
  text-decoration: line-through;
}

/* line 89, ../scss/typo.scss */
ins, u {
  text-decoration: underline;
}

/* line 93, ../scss/typo.scss */
strong {
  font-weight: bolder;
}

/* line 97, ../scss/typo.scss */
em {
  font-style: italic;
}

/* line 101, ../scss/typo.scss */
abbr[title] {
  border-bottom: 1px dotted;
}

/* line 105, ../scss/typo.scss */
blockquote {
  padding: 10px 20px;
  margin: 0 0 20px;
  font-size: 17.5px;
  border-left: 5px solid #eee;
}

/* line 113, ../scss/typo.scss */
pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word;
}

/* line 119, ../scss/typo.scss */
code {
  padding: 2px 4px;
  font-size: 90%;
  color: #c7254e;
  background-color: #f9f2f4;
  border-radius: 4px;
}

/* Listes */
/* line 129, ../scss/typo.scss */
ul,
ol {
  margin-top: 0;
  margin-bottom: 10px;
}

/* line 135, ../scss/typo.scss */
.list-unstyled {
  padding-left: 0;
  list-style: none;
}

/* line 140, ../scss/typo.scss */
ul {
  margin-top: 10px;
  margin-bottom: 10px;
  list-style-type: disc;
}

/* line 146, ../scss/typo.scss */
.square {
  list-style-type: square;
}

/* line 150, ../scss/typo.scss */
ul li {
  margin-left: 20px;
}

/* Alignement texte*/
/* line 156, ../scss/typo.scss */
.text-left {
  text-align: left;
}

/* line 159, ../scss/typo.scss */
.text-right {
  text-align: right;
}

/* line 162, ../scss/typo.scss */
.text-center {
  text-align: center;
}

/* line 165, ../scss/typo.scss */
.text-justify {
  text-align: justify;
}

/* line 168, ../scss/typo.scss */
.text-nowrap {
  white-space: nowrap;
}

/* line 171, ../scss/typo.scss */
.text-lowercase {
  text-transform: lowercase;
}

/* line 174, ../scss/typo.scss */
.text-uppercase {
  text-transform: uppercase;
}

/* Tableaux */
/* line 180, ../scss/typo.scss */
.tableau, .tableau-alt, .tableau-hover {
  border-collapse: collapse;
  border-spacing: 0;
  empty-cells: show;
  border: 1px solid #cbcbcb;
  max-width: 100%;
  margin-bottom: 20px;
}

/* line 189, ../scss/typo.scss */
.tableau caption,
.tableau-alt caption,
.tableau-hover caption {
  color: #000;
  font: italic 85%/1 arial, sans-serif;
  padding: 1em 0;
  text-align: center;
}

/* line 198, ../scss/typo.scss */
.tableau td,
.tableau th,
.tableau-alt td,
.tableau-alt th,
.tableau-hover td,
.tableau-hover th {
  border-left: 1px solid #cbcbcb;
  border-width: 0 0 0 1px;
  font-size: inherit;
  margin: 0;
  padding: 0.5em 1em;
}

/* line 211, ../scss/typo.scss */
.tableau td, .tableau-alt td, .tableau-hover td {
  border-bottom: 1px solid #cbcbcb;
}

/* line 215, ../scss/typo.scss */
.tableau-alt tr:nth-child(2n-1) td {
  background-color: #f2f2f2;
}

/* line 219, ../scss/typo.scss */
.tableau-hover > tbody > tr:hover > td,
.tableau-hover > tbody > tr:hover > th {
  background-color: #f5f5f5;
}

/* line 1, ../scss/bouton.scss */
.btn, .btn-green, .btn-red, .btn-orange, .btn-lg, .btn-sm {
  display: inline-block;
  padding: 6px 12px;
  margin-bottom: 0;
  font-size: 14px;
  font-weight: normal;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;
  border: 1px solid transparent;
  border-radius: 4px;
  color: #FFFFFF;
  background-color: #428bca;
  border-color: #ccc;
}

/* line 19, ../scss/bouton.scss */
.btn:hover, .btn-green:hover, .btn-red:hover, .btn-orange:hover, .btn-lg:hover, .btn-sm:hover {
  background-color: #6aa3d5;
}

/* line 23, ../scss/bouton.scss */
.btn-green {
  background-color: green;
}

/* line 28, ../scss/bouton.scss */
.btn-green:hover {
  background-color: #00b300;
}

/* line 32, ../scss/bouton.scss */
.btn-red {
  background-color: red;
}

/* line 37, ../scss/bouton.scss */
.btn-red:hover {
  background-color: #ff6666;
}

/* line 41, ../scss/bouton.scss */
.btn-orange {
  background-color: #f0ad4e;
}

/* line 46, ../scss/bouton.scss */
.btn-orange:hover {
  background-color: #f4c37d;
}

/* line 50, ../scss/bouton.scss */
.btn-lg {
  font-size: 1.2em;
  padding: 3px;
}

/* line 56, ../scss/bouton.scss */
.btn-sm {
  font-size: 0.8em;
  padding: 1px;
}

/* line 62, ../scss/bouton.scss */
.btn-fancy {
  display: inline-block;
  width: 100px;
  color: #FFF;
  text-decoration: none;
  border-radius: 5px;
  border: solid 1px #D94E3B;
  background: #cb3b27;
  text-align: center;
  padding: 20px 30px;
  margin: 2px;
  -webkit-transition: all 0.1s;
  -moz-transition: all 0.1s;
  transition: all 0.1s;
  -webkit-box-shadow: 0px 9px 0px #84261a;
  -moz-box-shadow: 0px 9px 0px #84261a;
  box-shadow: 0px 9px 0px #84261a;
}

/* line 83, ../scss/bouton.scss */
.btn-fancy:hover {
  background-color: #dc5b49;
  cursor: pointer;
}

/* line 1, ../scss/alert.scss */
.alert, .alert-success, .alert-info, .alert-avert, .alert-danger {
  padding: 15px;
  margin-bottom: 20px;
  border: 1px solid transparent;
  border-radius: 4px;
}

/* line 8, ../scss/alert.scss */
.alert-success {
  color: #3c763d;
  background-color: #dff0d8;
  border-color: #d6e9c6;
}

/* line 15, ../scss/alert.scss */
.alert-info {
  color: #31708f;
  background-color: #d9edf7;
  border-color: #bce8f1;
}

/* line 22, ../scss/alert.scss */
.alert-avert {
  color: #8a6d3b;
  background-color: #fcf8e3;
  border-color: #faebcc;
}

/* line 29, ../scss/alert.scss */
.alert-danger {
  color: #a94442;
  background-color: #f2dede;
  border-color: #ebccd1;
}

/* line 1, ../scss/composants.scss */
.header {
  text-align: center;
}

/* Jumbotron */
/* line 7, ../scss/composants.scss */
.jumbotron {
  padding: 30px;
  margin-bottom: 30px;
  color: inherit;
  background-color: #eee;
}
/* line 13, ../scss/composants.scss */
.jumbotronp {
  margin-bottom: 15px;
  font-size: 21px;
  font-weight: 200;
}

/* Breadcrumb */
/* line 22, ../scss/composants.scss */
.breadcrumb li {
  display: inline;
}

/* line 25, ../scss/composants.scss */
.breadcrumb li + li:before {
  content: "» ";
}

/* Navbar */
/* line 31, ../scss/composants.scss */
.navbar ul {
  list-style: none;
  background-color: #444;
  text-align: center;
  padding: 0;
  margin: 0;
}

/* line 39, ../scss/composants.scss */
.navbar li {
  font-family: 'Oswald', sans-serif;
  font-size: 1.2em;
  line-height: 40px;
  height: 40px;
  border-bottom: 1px solid #888;
}

/* line 47, ../scss/composants.scss */
.navbar a {
  text-decoration: none;
  color: #fff;
  display: block;
  transition: .3s background-color;
}

/* line 54, ../scss/composants.scss */
.navbar a:hover {
  background-color: #005f5f;
}

/* line 58, ../scss/composants.scss */
.navbar a.active {
  background-color: grey;
  color: #444;
  cursor: default;
}

@media screen and (min-width: 600px) {
  /* line 65, ../scss/composants.scss */
  .navbar li {
    width: 120px;
    border-bottom: none;
    height: 50px;
    line-height: 50px;
    font-size: 1.4em;
  }

  /* Option 1 - Display Inline */
  /* line 74, ../scss/composants.scss */
  .navbar li {
    display: inline-block;
    margin-right: -4px;
  }
}
/* Pagination */
/* line 82, ../scss/composants.scss */
.pagination {
  text-align: center;
  margin: 20px;
}

/* line 87, ../scss/composants.scss */
.pagination a, .pagination strong {
  background: #fff;
  display: inline-block;
  margin-right: 3px;
  padding: 4px 12px;
  text-decoration: none;
  line-height: 1.5em;
  color: #4A4A4A;
  border: 0;
  outline: 0;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}

/* line 102, ../scss/composants.scss */
.pagination a:hover {
  background-color: #BEBEBE;
  color: #fff;
}

/* line 107, ../scss/composants.scss */
.pagination a:active {
  background: rgba(190, 190, 190, 0.75);
}

/* line 111, ../scss/composants.scss */
.pagination strong {
  color: #fff;
  background-color: #BEBEBE;
}

/* line 1, ../scss/grille.scss */
.container {
  background-color: #fff;
  width: 50%;
  margin: auto;
  min-width: 380px;
  overflow: hidden;
}

/* line 9, ../scss/grille.scss */
.container:after {
  clear: both;
  display: block;
  content: "";
}

/* line 15, ../scss/grille.scss */
.ligne {
  background-color: #FF8888;
  margin: 5px 0;
}

/* line 20, ../scss/grille.scss */
.ligne:after {
  clear: both;
  display: block;
  content: "";
}

/* line 26, ../scss/grille.scss */
.span-1 {
  width: 10.75%;
  background-color: #39C;
  margin: 0 1%;
  float: left;
  padding: 0;
}

/* line 34, ../scss/grille.scss */
.span-2 {
  width: 23.5%;
  background-color: #39C;
  margin: 0 1%;
  float: left;
}

/* line 41, ../scss/grille.scss */
.span-3 {
  width: 36.25%;
  background-color: #39C;
  margin: 0 1%;
  float: left;
}

/* line 48, ../scss/grille.scss */
.span-4 {
  width: 49%;
  background-color: #39C;
  margin: 0 1%;
  float: left;
}

/* line 55, ../scss/grille.scss */
.span-5 {
  width: 61.75%;
  background-color: #39C;
  margin: 0 1%;
  float: left;
}

/* line 62, ../scss/grille.scss */
.span-6 {
  width: 74.5%;
  background-color: #39C;
  margin: 0 1%;
  float: left;
}

/* line 69, ../scss/grille.scss */
.span-7 {
  width: 87.25%;
  background-color: #39C;
  margin: 0 1%;
  float: left;
}

/* line 76, ../scss/grille.scss */
.span-8 {
  width: 98%;
  background-color: #39C;
  margin: 0 1%;
  float: left;
}

/* line 83, ../scss/grille.scss */
.offset-1 {
  margin: 0 1% 0 13.75%;
}

/* line 87, ../scss/grille.scss */
.offset-2 {
  margin: 0 1% 0 26.5%;
  background-color: #FFE62E;
}

/* line 92, ../scss/grille.scss */
.offset-3 {
  margin: 0 1% 0 39.25%;
}

/* line 96, ../scss/grille.scss */
.offset-4 {
  margin: 0 1% 0 52%;
}

/* line 100, ../scss/grille.scss */
.offset-5 {
  margin: 0 1% 0 64.75%;
}

/* line 104, ../scss/grille.scss */
.offset-6 {
  margin: 0 1% 0 77.5%;
}

/* line 108, ../scss/grille.scss */
.offset-7 {
  margin: 0 1% 0 90.25%;
}

/*

Fichier framework principal 
JUNG Jordan
LP2

*/
