/* line 1, ../scss/grille.scss */
.container {
  background-color: #fff;
  width: 50%;
  margin: auto;
  min-width: 380px;
  overflow: hidden;
}

/* line 9, ../scss/grille.scss */
.container:after {
  clear: both;
  display: block;
  content: "";
}

/* line 15, ../scss/grille.scss */
.ligne {
  background-color: #FF8888;
  margin: 5px 0;
}

/* line 20, ../scss/grille.scss */
.ligne:after {
  clear: both;
  display: block;
  content: "";
}

/* line 26, ../scss/grille.scss */
.span-1 {
  width: 10.75%;
  background-color: #39C;
  margin: 0 1%;
  float: left;
  padding: 0;
}

/* line 34, ../scss/grille.scss */
.span-2 {
  width: 23.5%;
  background-color: #39C;
  margin: 0 1%;
  float: left;
}

/* line 41, ../scss/grille.scss */
.span-3 {
  width: 36.25%;
  background-color: #39C;
  margin: 0 1%;
  float: left;
}

/* line 48, ../scss/grille.scss */
.span-4 {
  width: 49%;
  background-color: #39C;
  margin: 0 1%;
  float: left;
}

/* line 55, ../scss/grille.scss */
.span-5 {
  width: 61.75%;
  background-color: #39C;
  margin: 0 1%;
  float: left;
}

/* line 62, ../scss/grille.scss */
.span-6 {
  width: 74.5%;
  background-color: #39C;
  margin: 0 1%;
  float: left;
}

/* line 69, ../scss/grille.scss */
.span-7 {
  width: 87.25%;
  background-color: #39C;
  margin: 0 1%;
  float: left;
}

/* line 76, ../scss/grille.scss */
.span-8 {
  width: 98%;
  background-color: #39C;
  margin: 0 1%;
  float: left;
}

/* line 83, ../scss/grille.scss */
.offset-1 {
  margin: 0 1% 0 13.75%;
}

/* line 87, ../scss/grille.scss */
.offset-2 {
  margin: 0 1% 0 26.5%;
  background-color: #FFE62E;
}

/* line 92, ../scss/grille.scss */
.offset-3 {
  margin: 0 1% 0 39.25%;
}

/* line 96, ../scss/grille.scss */
.offset-4 {
  margin: 0 1% 0 52%;
}

/* line 100, ../scss/grille.scss */
.offset-5 {
  margin: 0 1% 0 64.75%;
}

/* line 104, ../scss/grille.scss */
.offset-6 {
  margin: 0 1% 0 77.5%;
}

/* line 108, ../scss/grille.scss */
.offset-7 {
  margin: 0 1% 0 90.25%;
}
